@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    background-color: rgb(246, 247, 251);
    font-family: "Poppins", sans-serif;
    align-items: center;
    margin: auto auto;
}
  
.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    width: 85vw;
    height: 8vh;
    top: 0.3vh;
    margin-top: 3vh;
    margin-left: 7vw;
    margin-right: 7vw;
    padding: 0vh 0vw;
    border-radius: 10px;
    box-shadow: 0px 10px 85px rgba(0, 0, 0, 0.1);
}

.navicon {
    display: flex;
    margin-left: 1.5vw;
    font-weight: 600;
    font-size: 1.7vw;
}

.navlink {
    display: flex;
}

.navlink ul {
    display: flex;
}

.navlink li, .navlink a {  
    padding: 0.3vh 0.3vw;
    margin: 0vh 0.3vw;
    color: black;
    font-size: 1.3vw;
    font-weight: 500;
    list-style-type: none;
    text-decoration: none;
}

.navlink2 {
      display: flex;
}

.navlink2 li, .navlink2 a {
      color: black;
      margin-right: 1vw;
      padding: 0.3vh 0.3vw;
      font-size: 1.3vw;
      font-weight: 500;
      list-style-type: none;
      text-decoration: none;
}

.navlink a:hover, .navlink2 a:hover {
    border-bottom: 0.4vh black solid;
    transition: linear 0.2s;
}